body {
    color: #404E67;
    background: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}
#imgMashreq {
  float: right;
}

.page-item.active .page-link{
background-color:#ffc107;
}

/*card freeze*/

.ui-autocomplete {
    z-index: 2000;
}

#rcorners {
    border-radius: 2%;
    margin: auto;
    width: 55%;
    border: 3px solid lightgrey;
    padding: 10px;
    height: auto;
}
.roco1 {
    padding: 0px;
}
.center
{
text-align:center;
}

.bold {
    font-weight: bold;
}

.modal {
    margin-top: 115px;
}

.modal-content {
    width: 600px;
}

.textHighLight:hover {
    color: red;
}

.textHighLight {
    color: #dc3545;
    font-size: 13px;
    line-height: 1.66666666666667;
}

#cardNumber_text {
    margin-top: 11px;
}

#cardNumber {
    width: 300px !important;
}

.wrap {
    text-align: center;
    margin-top: 14px;
}

.goHover:hover {
    color: white;
}

.goHover {
    font-size: 37px;
    padding-left: 3px;
    padding-right: 3px;
}


/*card freeze*/

.txts-color {
    color: #1898d0 !important;
}

.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
}

#modi td {
    word-break: break-all !important;
}

textarea {
    height: 300px !important;
    overflow-y: auto;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

#spin {
    margin-top: 230px;
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-top: 50px;
    margin-left: -10px;
    border-radius: 50%;
    border: 9px solid transparent;
    border-top-color: rgb(253, 253, 253);
    border-bottom-color: rgb(253, 253, 253);
    animation: spinner .8s ease infinite;
}


/*fixed th sart*/

.table-fixed tbody td {
    height: 60px;
}

.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead>tr>th {
    float: left;
    position: relative;
}

.table-responsive {
    height: 200px;
    overflow-y: scroll;
}

.table-fixed thead tr:nth-child(1) th {
    background: white;
    position: sticky;
    top: 0;
    z-index: 10;
}


/*fixed th end*/

.bg-color {
    background-color: orange;
    /*#badfea;*/
}
.gry-color {
    background-color: #999fa5;
    /*#badfea;*/
}
